@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');

.titulo{
     font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}