@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

.titulo{
     font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.banner {
  width: 100%;       /* o un porcentaje menor si querés */
  height: auto;      /* mantiene la proporción */
  max-height: 300px; /* ajustá este valor para reducirla */
  object-fit: cover; /* opcional, recorta si es necesario */
}

