@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

.titulo{
     font-family: "Playwrite DE SAS", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

